{% extends "diagnosis_system/base.html" %}
{% block content %}
    {% load static %}

    <article class="media content-section">
        <div class="media-body">
            
                <h1>Diagnosis: {{ diagnosis }}</h1>
                <p class="article-content">{{ description }}</p>
                <p class="text-muted">{{ additional_message }}</p>

                <h2>Precautions:</h2>
                <ul>
                {% for precaution in precautions %}
                    <li>{{ precaution }}</li>
                {% endfor %}
                </ul>

        </div>
    </article>
    {% for doctor in recommended_doctors %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ doctor.user.username }}</a>
                <small class="text-muted"></small>
                </div>
                <h2><a class="article-title" href="#"></a></h2>
                <p class="article-content"></p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}