{% extends "diagnosis_system/base.html" %}
{% block content %}
    {% load static %}

    <article class="media content-section">
        <div class="media-body">
            
                <h1>Disease Diagnosis System</h1>
                <p>Patients: Enter your symptoms to receive a diagnosis and get recommended a specialist</p>
                <p>Doctors: register to be recommended to patients with a diagnosis</p>

        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
          <h2 class="article-title">Most Common Diagnosis</a></h2>
          <p class="article-content">{{ common_disease }}</p>
        </div>
      </article>
{% endblock content %}