{% extends "diagnosis_system/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter Symptoms seprated by ", "(comma and a space)</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Diagnose</button>
            </div>
        </form>
    </div>
    <div class="content-section">
        <div class="media-body">
            <p class="border-bottom mb-4">Not Sure what to type? Here's a list of symptoms you might have</h2>
            <small class="text-muted">
                {% for symptom in symptoms_unique %}
                    <p>{{ symptom }}</p>
                {% endfor %}
            </small>
        </div>
    </div>
{% endblock content %}